body {
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px; 
    box-sizing: border-box;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }

  .page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .page-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .page-container header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .page-container header div {
    display: flex;
    flex-direction: grid;
    align-items: center;
  }
  
  .page-container header span {
    font-size: 16px;
  }
  
  .page-container p {
    font-size: 18px;
    line-height: 1.5;
  }

  .opcoes-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    justify-content: center;

  }

  .botoes-container {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }

  .botoes-container button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px; 
    box-sizing: border-box;
  }

  .botoes-container button:hover {
        background-color: #0056b3;
  }

  .matriz-container {
      text-align: center; 
      margin: 20px auto; 
      font-size: 20px; 
  }

  .opcoes-lista {
    list-style-type: none;
    padding: 0;
    justify-content: center;
  }
  
  
  
 