body {
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-container label {
    display: block;
    margin-bottom: 10px;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 25px; 
    box-sizing: border-box;
    margin-left: 5px;

  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }

  .page-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .page-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .page-container header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .page-container header div {
    display: flex;
    flex-direction: grid;
    align-items: center;
  }
  
  .page-container header span {
    font-size: 16px;
  }
  
  .page-container p {
    font-size: 18px;
    line-height: 1.5;
  }

  .opcoes-container {
    display: flex;
    margin-bottom: 20px;

  }

  .botoes-container {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
  }

  .botoes-container button {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px; 
    box-sizing: border-box;
    margin-left: 5px;
  }

  .botoes-container button:hover {
        background-color: #0056b3;
  }

  .matriz-container {
      text-align: center; 
      margin: 20px auto; 
      font-size: 20px; 
  }

  .tabela-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  .tabela-container-questao3 {
    display: flex;
    justify-content: center;
    color: black;
    text-align: center;
        
  }

  .opcoes-lista {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .opcoes-lista li{
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    display: inline-block;
    justify-content: left;
  }

  .opcoes-lista ul{
    justify-content: center;
  }
  .gabarito-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    color: black;
    text-align: center;
    font-size: larger;
    margin: 0 auto;
  }
  
  .gabarito-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    font-size: larger;
    margin: 0 auto;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .gabarito-container {
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    font: 20px Arial, sans-serif;
  }
  
  .gabarito-table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    
  }
  
  .gabarito-table th, .gabarito-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .gabarito-table th {
    background-color: #007bff;
    color: white;
  }
  
  .gabarito-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .gabarito-table tr:hover {
    background-color: #ddd;
  }
  
  .botao-salvar-respostas {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .botao-salvar-respostas button {
    width: 25%;
    padding: 10px;
    background-color: grey;
    color: #fff;
    border-radius: 5px; 
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 20px;
  }

  .botao-salvar-respostas button:hover {
        background-color: #434444;
  }
  
 